*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Glory", sans-serif;
}

body {
    counter-reset: section;
}

@page {
    size: 8.5in 11in;
}

.page {
    aspect-ratio: 8.5/11;
}

.page:first-of-type img {
    width: 100%;
    height: 100%;
}

.page:not(:first-of-type) {
    padding: 12vw;
}

.page:not(:first-of-type)::before {
    counter-increment: section;
    content: "Page " counter(section);
    position: absolute;
    top: calc(100% - 6vw);
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 2vw;
}

h2 {
    font-size: 6vw;
}

.vertical-margin-4 {
    margin: 4vw 0;
}

.vertical-margin-2 {
    margin: 2vw 0;
}

.vertical-margin-1 {
    margin: 2vw 0;
}

h3 {
    font-size: 4.4vw;
}

p {
    font-size: 3vw;
}

h4 {
    font-size: 3vw;
}

.content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-row.sub {
    padding-left: 4vw;
}